@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}
body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.container{
  max-width: 1170px;
  margin: auto;
  padding: 0 20px;
}
h3 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgb(56,56,56);
  margin: 2rem 0;
}
h4 {
  font-size: 1rem;
  color: rgb(56,56,56);
}
a {
  color: rgb(56,56,56);
  
}
